@model E_Library.DTOS.PaginationData<StudentBorrowBooks>

@{
    ViewData["Title"] = "History";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">RecivedDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Name)
                    </td>

                    @if (item.BorrowDate.HasValue)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.BorrowDate.Value.Date)
                        </td>
                    }
                    else
                    {
                        <td>--</td>
                    }

                    @if (item.RecievedDate.HasValue)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.RecievedDate.Value.Date)
                        </td>
                    }
                    else
                    {
                        <td>--</td>
                    }


                </tr>
            }

        </tbody>

    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a asp-page="/users/BorrowHistory" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
                </li>

            }
            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a asp-page="/users/BorrowHistory" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
                </li>
            }

        </ul>
    </nav>
</div>