<!DOCTYPE html>
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    var userId = @HttpContextAccessor.HttpContext.Session.GetString("Id");
    var userType = @HttpContextAccessor.HttpContext.Session.GetString("Type");


}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">

                @if (userId != null)
                {
                    @if (userType == "2")
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Instructors" asp-action="InstructorDashBoard">E_Library</a>

                    }
                    @if (userType == "1")
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="UserDashBoard">E_Library</a>

                    }

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">


                            @if (userType == "2")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Manage Books</a>
                                </li>
                            }

                            @if (userType == "1")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="BorrowHistory">Borrow History</a>
                                </li>
                            }


                            <li class="nav-item">
                                <a class="nav-link text-dark" href="javascript:void(0);" onclick="logout()">Logout</a>
                            </li>

                            <form id="logoutForm" asp-controller="Users" asp-action="Logout" method="post" style="display: none;">
                                @Html.AntiForgeryToken()
                            </form>

                        </ul>
                    </div>
                }
                else
                {
                    <a class="navbar-brand">E_Library</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - E_Library
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function logout() {
        var form = document.getElementById('logoutForm');
        form.submit();
    }
</script>